.Modal{
    background-color: rgba(32,35,41,.8);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.dialogo {
    border-radius: calc(5px * var(--ratio));
    box-shadow: 0 0 #0000, 0 0 #0000, 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    padding: 1.6rem;
}

.globo{
    border-radius: 25px;
    padding: 12px;
    background: gray;
    color: white;
    padding: 10px;
    position: relative;
    width: 80%;
    margin: 0 auto;
    font-family: sans-serif;
    z-index: 1;
}
.globo::after {
    content: '';
    position: absolute;
    bottom: 0; 
    left: 80px;
    background: transparent;
    width: 0px; height: 0px;
    border-bottom: 40px solid gray;
    border-right: 40px solid transparent;
    border-left: 40px solid transparent;
    transform: rotate(90deg);
    z-index: -1;
}